.card--enrolled{

    background:#d4ffd4;
    
    }
    
    .card--full{
    
    border:2px solid blue;
    
    }
    
    .expanded{
    
    height:220px;
    
    transition:.3s;
    
    padding:15px;
    
    }